@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
}


@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media screen and (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint == "sm" {
        @media (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
            @content;
        }
    }

    @else if $breakpoint == "md" {
        @media (min-width: 1025px) and (max-width: 1199px) {
            @content;
        }
    }

    @else if $breakpoint == "lg" {
        @media screen and (min-width: 1200px) and (max-width: 1399px) {
            @content;
        }
    }
    @else if $breakpoint == "xlg" {
        @media (min-width: 1400px) and (max-width: 1599px) {
            @content;
        }
    }
    @else if $breakpoint == "xxlg" {
        @media (min-width: 1600px) and (max-width: 1899px) {
            @content;
        }
    }
    @else if $breakpoint == "xxxlg" {
        @media (min-width: 1900px) {
            @content;
        }
    }
}


$primary-color: #818080; // dark grey
$secondary-color: #FD5B03; // orange
$color-white: #ffffff;


$form-width: 575px;
$form-height: 750px;


* {
margin: 0;
padding: 0;
}

html {
  position: relative;
  min-height: 100%;


}

body {
  background-color: $color-white !important;
  color: $secondary-color !important;
}

img.img-ca {
  height: 65px;
}

nav {
  background: transparent !important;
  border-radius: 0px !important;
  padding: 30px;
}

.navbar-brand {
  padding: 0px !important;
}

.navbar {
  border: none !important;
}

.navbar-inverse .navbar-toggle {
  border-color: $secondary-color !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background: $secondary-color !important;
}

.navbar-inverse .navbar-nav>.active>a, {
  background: transparent !important;
}

.navbar-inverse .navbar-nav >li > a {
  color: $primary-color !important;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: $secondary-color !important;
}

#landing-part {
  background: url(../../img/landing-image.jpg.crdownload) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

#landing-part div {
  min-height:600px;
  position: relative;
}

#landing-part > div > div {
  position:absolute;
  top:50%;
  height:10em;
  margin-top:-5em;
  width:100%;
  text-align: center;
}

#landing-part > div > div > h1 {
  color: $secondary-color !important;
}

#landing-part > div > div > button {
  background: $secondary-color;
  color: $color-white;
  border: 1px solid $secondary-color;
  border-radius: 20px;
}

#landing-part > div > div > button:hover {
  background: $color-white;
  color: $secondary-color;
}
